.body1
{
    background: #EEE2DC;
}

.registerbox1
{
    max-width: 400px;
    margin: 10vh auto;
    text-align: center;
	position: relative;
}

/*title*/
.registertitle
{
    margin-bottom: -10px;
    font-weight: 500;
    color: #2C3E50;
	text-transform: uppercase;
}

.registersubtitle
{
    margin-bottom: 10px;
    font-weight: normal;
	font-size: 13px;
	color: #666;
}

.registerbox1 fieldset 
{
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}

/*input*/
.registerform input, .registerform select
{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 8px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}





